<div style="float:left;width:100px;">
    <h3>Rooms</h3>

    <div id="rooms"  ng-controller="EditorCtrl"></div>
    <div  ng-controller="EditorCtrl" ng-repeat="room in Rooms" >
        <a href ="#" ng-click="switchRoom(room)">{{room}}</a> </div>
    <div>
        <button ng-click="trial()" class="btn btn-primary">Add Room</button>

    </div>
</div>
<div class="container app ">
    <h3>Editor</h3>
<!--
    <p>
        <button class="btn btn-warning" value="" ng-click="disabled = !disabled" unselectable>Disable text-angular
            Toggle
        </button>
    </p>
    <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ng-change="sendContext(htmlcontent)" ta-disabled='disabled'></div>
-->

        <button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>
        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
    </div>


