<div style="float:left;width:100px;">
    <h3>Rooms</h3>

    <div id="rooms"></div>
    <div ng-repeat="room in Rooms">
        <a href="#" ng-click="chooseRoom(room)">{{room}}</a></div>

    <div >

        <button ng-click="addNewRoom()" class="btn btn-primary">Add Room</button>

    </div>
    <div ng-repeat="user in online">
        {{user}}
        </div>
</div>
<div class="container app ">
    <h3>Editor</h3>

    <text-angular-toolbar name="editorToolbar" ng-click="sendContent(htmlcontent)"></text-angular-toolbar>
    <div id=editor text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent"
         ta-target-toolbars='editorToolbar' ng-keyup="sendContent(htmlcontent)" ta-disabled='disabled'></div>
</div>



